.border-hide{
    border: 0 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555 !important;
    cursor: default !important;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-bottom-color: transparent !important;
}

.img-50{
    width: 50px;
}

.img-80{
    width: 80px;
}

.content {
    color: #8b8a8a;
}

.content:hover{
    text-decoration: none !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border:0 !important;
}

.border-bottom{
    border: 0;
    border-bottom: 1px dashed #eae7e7 !important;
}

.padding-tb-0{
    padding: 12px 0;
}

.panel-footer-set {
    padding: 10px 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

a.topic {
    background: #eff6fa;
    padding: 1px 10px 0;
    border-radius: 30px;
    text-decoration: none;
    margin: 0 5px 5px 0;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}

a.topic:hover {
    background: #259;
    color: #fff;
    text-decoration: none;
}

.font-b{
    font-weight: bold;
}

.btn-color-green{
    border-color: #00B5AD !important;
    color: #00B5AD !important;
}

.navbar-default {
    background-color: #fff;
    border-color: #d3e0e9;
    border-top: 4px solid #3097D1 !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #3097D1 !important;
    background-color: #fff !important;
    text-decoration: none;
}

.web-title{
    font-size: 25px !important;
    font-family: Microsoft YaHei UI Light !important;
    font-weight: bold !important;
    color: #3097D1 !important;
}

.badge{
    background-color: #EBE8E8 !important;
}

.user-basic-info{
    color: #3097D1 !important;
    font-size: 25px !important;
}

.btn-color-blue{
    background-color: #3097D1 !important;
    color: #fff !important;
}

.margin-top-15{
    margin-top: 15px !important;
}

.list-group .list-group-item {
    border: none !important;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #f2f2f2 !important;
}

.box {
    background-color: #fff;
    padding: 10px;
    margin: 0 0 20px 0;
    -webkit-box-shadow: 0 0.2em 0 0 #ddd, 0 0 0 1px #ddd;
    box-shadow: 0 0.2em 0 0 #ddd, 0 0 0 1px #ddd;
}

.padding-md {
    padding: 15px;
}

.button.is-naked {
    background: 0 0;
    border: none;
    border-radius: 0;
    padding: 0;
    height: auto;
}

.button.is-naked {
    background: 0 0;
    border: none;
    border-radius: 0;
    padding: 0;
    height: auto;
}

.delete-button {
    color: #3097D1;
    text-decoration: none;
}

.delete-button {
    color: #3097D1;
    text-decoration: none;
}

.delete-form{
    display: inline-block;
}

.triangle:before {
    position: absolute;
    right: 100%;
    left: 69px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    border-width: 8px;
    border-right-color: #d4e0e8;
}

.unread{
    background-color: #3097d14d !important;
}
